{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container text-center">
  <h1 class="my-4">{% trans "Users" %}</h1>

  <table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>{% trans "ID" %}</th>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Full name" %}</th>
            <th>{% trans "Creation date" %}</th>
            <th></th>
        </tr>
    </thead>
    
        {% if users %}
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nickname }}</td>
                <td>{{ user.name }} {{ user.surname }}</td>
                <td>{{ user.created_at }}</td>
                <td>
                    <a href="">{% trans "Modify" %}</a>
                    <br>
                    <a href="">{% trans "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        
  </table>
</div>
{% endblock %}
