{% extends "base.html" %}
{% load i18n %}



{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<h1 class="my-5"></h1>
<div class="container-fluid text-center max-width mt-5 px-5 pt-3" >
  <div class="card-body p-5 bg-light">
    <div class="display-4">{% trans "Hello from Hexlet!" %}</div>
    <p class="lead">{% trans "Practical courses of programming" %}</p>
    <hr>
    <a class="btn btn-success btn-lg" href="https://ru.hexlet.io">{% trans "Learn more" %}</a>
  </div>
</div>

<style>
  .max-width {
    max-width: 700px;
  }
</style>
    
{% endblock %}
