{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}



{% block content %}



<div class="container max-width">
    <h1 class="my-4 text-center">{% trans "Login" %}</h1>
    {% if form.errors %}
    <div id='form-errors'>{{ form_errors }}</div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{% url 'main' %}">
      {{ form|crispy }}
      <div class="form-group text-center">
        <input class="btn btn-primary" type="submit" value="{% trans 'Sign-in' %}">
        
      </div>
    </form>
</div>
    <style>
        .max-width {
          max-width: 700px;
        }
        .asteriskField {
            display: none;
        }
      </style>
{% endblock %}


