{% extends "base.html" %}
{% load i18n %}
{% load bootstrap5 crispy_forms_tags %}

{% block content %}
<div class="container  max-width">
    <h1 class="my-4 text-center">{% trans 'Create task' %}</h1>
    <div class="d-flex justify-content-center">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.description|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.executor|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.status|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.labels|as_crispy_field }}
            </div>
            <button type="submit" class="btn btn-primary">{% trans 'Create' %}</button>
        </form>
        {% endblock %}
    </div>
    .max-width {
      max-width: 700px;
    }
    .asteriskField {
        display: none;
    }
  </style>

